$color_grey_24: #242424;
$color_grey_75: #757575;
$color_blue: #3EAAFD;
$color_white: #fff;
$color_grey_border: #dee2e6;
.type-75{
    font-size: 14px;
    .my-container{
        max-width: 600px;
    }
    .nl-head-logo{
        background: #2a2e3c;
        padding: 15px;
        text-align: center;
    }
    .nl-tbl-tabs{
        border: 1px solid $color_grey_border;
        padding: 0;
        .nl-nav-tabs{
            background: $color_white;
            border-bottom: 1px solid $color_grey_border;
            padding: 15px;
            .nav-link{
                border: 0;
                padding: 4px 15px;
                color: $color_grey_24;
                text-transform: uppercase;
                font-weight: 500;
                &.active{
                    color: $color_blue;
                    border: 0;
                }
            }
        }
    }
    .nl-tab-content{
        padding: 15px 30px 30px;
        line-height: 1.8;
        .nl-lbl-login{
            width: 100%;
            color: $color_grey_24;
            font-weight: 500;
            margin-bottom: 0;
        }
        .nl-ip{
            width: 100%;
            background-color: $color_white;
            box-shadow: 0 0 2px 2px rgba(0,0,0,.02) inset;
            border: 1px solid #dee2e6;
            padding: 5px 10px;
            max-width: 100%;
            margin-top: 4px;
        }
        .nl-decs-frm{
            color: $color_grey_75;
            margin-bottom: 10px;
        }
    }
    .nl-submit{
        border: 0;
        background: $color_blue;
        color: $color_white;
        overflow: hidden;
        font-size: 14px;
        font-weight: 500;
        padding: 0 26px;
        display: inline-block;
        line-height: 42px;
        border-radius: 4px;
        margin-top: 10px;
        &:hover{
            cursor: pointer;
            background: #0c94fc;
        }
    }
}