$color_icon: rgba(255,255,255,0.7);
$color_bg: rgb(42, 46, 60);
.type-15{
    background-color: $color_bg;
    padding: 30px 0;
    line-height: 28px;
    .nl-line-1{
        position: relative;
        text-align: center;
        &::after{
            content: "";
            border-bottom: 1px solid rgba(255,255,255,0.1);
            position: absolute;
            top: 50%;
            right: 0;
            width: 100%;
            z-index: 2;
        }
        .nl-list-ico{
            position: relative;
            background-color: $color_bg;
            z-index: 3;
        }
        a{
            margin: 0 10px;
            display: inline-block;
            i{
                background: none;
                font-size: 20px;
                color: $color_icon;
                width: 30px;
                height: 30px;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
            }
        }
    }
    .nl-line-2{
        margin: 10px 0 5px;
        text-align: center;
        color: $color_icon;
        a{
            position: relative;
            display: inline-block;
            color: $color_icon;
            font-size: 15px;
            margin-right: 10px;
            padding-right: 12px;
            &:after{
                position: absolute;
                content: "";
                width: 1px;
                height: 15px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: rgba(255,255,255,0.2);
                z-index: 1;
            }
            &:last-child{
                &::after{
                    width: 0;
                }
            }
        }
    }
}